{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-between">
    <div>
        <button type="button" class="btn btn-outline-primary">Add New DataSource3</button>
    </div>
    <div>
        <div class="input-group">
            <input type="text" class="form-control">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i
                    class="bi bi-search"></i></button>
        </div>
    </div>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">User</th>
            <th scope="col">Host</th>
            <th scope="col">Database</th>
            <th scope="col" width="100">Operators</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>192.168.1.1</td>
            <td>product-db</td>
            <td>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-outline-secondary">
                        <i class="bi bi-pencil"></i>
                    </button>
                    <button type="button" class="btn btn-outline-secondary">
                        <i class="bi bi-trash"></i>
                    </button>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>192.168.1.2</td>
            <td>user-db</td>
            <td>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-outline-secondary">
                        <i class="bi bi-pencil"></i>
                    </button>
                    <button type="button" class="btn btn-outline-secondary">
                        <i class="bi bi-trash"></i>
                    </button>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Mark</td>
            <td>192.168.1.1</td>
            <td>product-db</td>
            <td>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-outline-secondary">
                        <i class="bi bi-pencil"></i>
                    </button>
                    <button type="button" class="btn btn-outline-secondary">
                        <i class="bi bi-trash"></i>
                    </button>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Jacob</td>
            <td>192.168.1.2</td>
            <td>user-db</td>
            <td>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-outline-secondary">
                        <i class="bi bi-pencil"></i>
                    </button>
                    <button type="button" class="btn btn-outline-secondary">
                        <i class="bi bi-trash"></i>
                    </button>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Mark</td>
            <td>192.168.1.1</td>
            <td>product-db</td>
            <td>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-outline-secondary">
                        <i class="bi bi-pencil"></i>
                    </button>
                    <button type="button" class="btn btn-outline-secondary">
                        <i class="bi bi-trash"></i>
                    </button>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>Jacob</td>
            <td>192.168.1.2</td>
            <td>user-db</td>
            <td>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-outline-secondary">
                        <i class="bi bi-pencil"></i>
                    </button>
                    <button type="button" class="btn btn-outline-secondary">
                        <i class="bi bi-trash"></i>
                    </button>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">7</th>
            <td>Mark</td>
            <td>192.168.1.1</td>
            <td>product-db</td>
            <td>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-outline-secondary">
                        <i class="bi bi-pencil"></i>
                    </button>
                    <button type="button" class="btn btn-outline-secondary">
                        <i class="bi bi-trash"></i>
                    </button>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">8</th>
            <td>Jacob</td>
            <td>192.168.1.2</td>
            <td>user-db</td>
            <td>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-outline-secondary">
                        <i class="bi bi-pencil"></i>
                    </button>
                    <button type="button" class="btn btn-outline-secondary">
                        <i class="bi bi-trash"></i>
                    </button>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">8</th>
            <td>Jacob</td>
            <td>192.168.1.2</td>
            <td>user-db</td>
            <td>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-outline-secondary">
                        <i class="bi bi-pencil"></i>
                    </button>
                    <button type="button" class="btn btn-outline-secondary">
                        <i class="bi bi-trash"></i>
                    </button>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">8</th>
            <td>Jacob</td>
            <td>192.168.1.2</td>
            <td>user-db</td>
            <td>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-outline-secondary">
                        <i class="bi bi-pencil"></i>
                    </button>
                    <button type="button" class="btn btn-outline-secondary">
                        <i class="bi bi-trash"></i>
                    </button>
                </div>
            </td>
        </tr>                
    </tbody>

</table>

<nav>
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
{% endblock %}